@import "roboto.css";

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

.container {
    padding-top: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: brown;
}

.flag {
    background-image: url("../assets/flag.jpg");
    background-size: cover;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}
